.dashwrapper{
    display: grid;
    grid-template-columns: 20% 1fr;
    
    padding: 50px;
    background-color: #fafafa;
    
}

.dwitem1{
    display: grid;
    grid-template-rows: auto;
    
    padding: 20px;
    
    text-align: center;
 
    background-color: white;
    border: 1px solid red;
}

.dwitem2{
    display: grid;
    
    padding: 20px;
    justify-items: left;
    border: 1px solid yellow;
} 
.profname{
    display: grid;
    text-align: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    font-size: 1.8rem;
    color:#000000;
    height: 60px;

}

.dwitem3{
    display: grid;
    grid-template-rows: auto;
    
    padding: 20px;
    
    text-align: left;
 
    background-color: white;
    border: 1px solid red;
} 

.dwitem4{
    display: grid;
    
    padding: 20px;
    justify-items: left;
    border: 1px solid yellow;
} 


.mycoursessidemenu{
    display: grid;
    height: 45px;
    background-color: #ffffff;
    justify-content: left;
    align-content: center;
    border-left: 10px solid #ffffff;
    padding-left: 10px;
    font-size: 1.4rem;
    color: #000000;

}

.dashsidemenu{
    display: grid;
    height: 45px;
    background-color: #e7f9fc;

    justify-content: left;
    align-content: center;
    border-left: 10px solid steelblue;
    padding-left: 10px;
    font-size: 1.4rem;
    color: #000000;
}