
<div class="content">
    <div class="header1 ">
        <video class="video-bg" preload= "true" autoplay loop oncanplay="this.muted=true">
            <source src="/assets/University.mp4" type="video/mp4" />
            <source src="/assets/University.webm" type="video/webm" />
          </video>
      <div class="video-overlay">
  
        <div class="cap1">
          <h3> SkillmaTic for University</h3>
        </div>
        <div class="cap2">
          <h4> Before you get started here is a quick video you can watch about the product.</h4>
        </div>
  
        <div class="cap1">
          <img src="/assets/images/play-button.png?v=1" style="cursor: pointer;" (click)="videoDialog()">
        </div>
        <div class="playvideo">
          <div style="cursor: pointer;" (click)="videoDialog()"> Play Full Video</div>
        </div>
      </div>
    </div>
  
  
    <div class="rowfive">
        <div class="rowfive-item1">With Access to industry trends, industry hiring & Industry experts in the platform, you can advise your student take up the right courses.
        <p>We will help shape up the curriculum with access to best industry practices and Introduce Innovative and interactive learning through Industry analysis and Skill consumption trend across various industries.  Machine Learning based Career competency services will help colleges develop specialized competency programs for students. </p>  
      <p>With increased focus on employability you can enhance the quality of the educational system in the years to come.</p>  
      </div>
        </div>
        <div class="rowsix">
            <div class="rowsix-item1">
                <img src="/assets/images/seekerbg.jpeg">
            </div>
            <div class="rowsix-item2">
              <p class="textstyle">Benefits to Course Providers</p>
              <p class="textdesc">
                  SkillmaTic platform helps Universities by Improving their visibility across a wide spectrum of student community and Industry experts. 
                  With Access to industry trends, industry hiring & Industry experts, Universities can advise their student take up the right courses. 
                  The platform will help shape up the curriculum with access to best industry practices and Introduce Innovative and interactive learning. 
                  The colleges can develop specialized competency programs for students. 
           </p>
            <p>They will also gain from a host of services like : </p>
              <p class="textdesc">
                  <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Access to Industry analysis and Skill consumption trend across various industries 
              </p>
              <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Online Assessment Matrix (OAM) for student 
              </p>
              <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Online/Offline Video based learning 
              </p>
              <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Access to industry internship programs
              </p>
              <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Machine Learning based Career competency services
              </p>

            </div>
            
        </div>
        
      
        <div class="rowfive">
          <div class="rowfive-item1">Unique Features for University</div>
        </div>
  
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Best Guide for Job Seekers.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption left-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Best Guide for Job Seekers.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption right-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Best Guide for Job Seekers.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div>
    
        <div class="getstarted">
            <div class="getstartedcaption">
              Get Started and Login as a University!
            </div>
            <!-- <div class="getstarteddesc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est fugiat corrupti natus deleniti alias, magnam vitae reiciendis nostrum! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep
            </div> -->
            <div class="getstartedbtn">
               <div class="getstarted-btn" (click)="signupDialog()" style="cursor: pointer;">Get Started</div>
             </div>
         
          </div>
  
  </div>