

		<div id="main_nav">
			<ul>
				
				<li>
					<a href="">Categories</a>
					<ul>
						<li>
							<a href="">Monotremes</a>
							<ul>
								<li><a href="">Echidnas</a></li>
								<li><a href="">Platypus</a></li>
							</ul>
						</li>
						<li>
							<a href="">Marsupials</a>
							<ul>
								<li><a href="">Opossums</a></li>
								<li><a href="">Numbats, etc.</a></li>
								<li><a href="">Bandicoots, etc.</a></li>
								<li><a href="">Kangaroos, koalas, wombats, etc.</a></li>
							</ul>
						</li>
						<li>
							<a href="">Placentals</a>
							<ul>
								<li><a href="">Primates, ungulates, etc.</a></li>
								<li><a href="">Anteaters, sloths, etc.</a></li>
								<li><a href="">Elephants, etc.</a></li>
							</ul>
						</li>
					</ul>
				</li>
			
			</ul>
        </div>