<div class="emptydiv">
    &nbsp;
  </div>
<div class="content">
    <div class="header1 ">
        <video class="video-bg" preload= "true" autoplay loop oncanplay="this.muted=true">
            <source src="/assets/Industry.mp4" type="video/mp4" />
            <source src="/assets/Industry.webm" type="video/webm" />
          </video>
      <div class="video-overlay">
  
        <div class="cap1">
          <h3> SkillmaTic for Industry</h3>
        </div>
        <div class="cap2">
          <h4> Before you get started here is a quick video you can watch about the product.</h4>
        </div>
  
        <div class="cap1">
          <img src="/assets/images/play-button.png?v=1" style="cursor: pointer;" (click)="videoDialog()">
        </div>
        <div class="playvideo">
          <div style="cursor: pointer;" (click)="videoDialog()"> Play Full Video</div>
        </div>
      </div>
    </div>
  
  
    <div class="rowfive">
        <div class="rowfive-item1">With access to a specialized talent pool identified through Universities and Industry experts on the SkillmaTic platform, you will significantly bring down the cost and time in talent acquisition through intelligent sourcing of talent.
            <p>You can re-skill talent and rewire the culture in the organization by developing appropriate competency programs through the platform.
              </p>
              <p>You will gain substantially through the Collaboration of all participants in the chain, without losing focus on its core competencies, by relying on a strategic alliance of comprehensive SkillmaTic solutions. </p>
            
        </div>
       </div>
        <div class="rowsix">
            <div class="rowsix-item1">
                <img src="/assets/images/seekerbg.jpeg">
            </div>
            <div class="rowsix-item2">
              <p class="textstyle">BENEFITS TO INDUSTRY</p>
              <p class="textdesc">
                  <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Indian industry spends a considerable amount of Cost and time in Talent acquisition. With access to a specialized talent pool identified through Universities and Industry experts on the SkillmaTic platform, our industries will significantly bring down the cost and time in talent acquisition through Intelligent sourcing of talent. 
              </p>
              <p class="textdesc">
                  <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;It can reskill talent and rewire the culture in the organization by developing appropriate competency programs through the platform. 
              </p>
              <p class="textdesc">
                  <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Industries will gain substantially through the Collaboration of all participants in the chain. They can make use of facilities like Real time skill supply view and Virtual Project Room (VPR) for internship projects.

              </p>
            </div>
            
        </div>
        
      
        <div class="rowfive">
          <div class="rowfive-item1">Unique Features for Industry</div>
        </div>
  
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Best Guide for Job Seekers.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption left-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Best Guide for Job Seekers.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption right-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Best Guide for Job Seekers.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div>
    
        <div class="getstarted">
            <div class="getstartedcaption">
              Get Started and Login as a Industry!
            </div>
            <!-- <div class="getstarteddesc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est fugiat corrupti natus deleniti alias, magnam vitae reiciendis nostrum! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep
            </div> -->
            <div class="getstartedbtn">
               <div class="getstarted-btn" (click)="signupDialog()" style="cursor: pointer;">Get Started</div>
             </div>
         
          </div>
  
  </div>