<header>

	<!-- Video from coverr.co -->
	<video class="video-bg" autoplay muted loop>
		
		<source src="/assets/videoplayback.webm" type="video/webm" />
	</video>

	<div class="video-overlay">
     <h1> Easy way to catch your Dreams! Opt for a free Skill Evaluation</h1>
    <!-- <h1>Full-Screen Background Video <br>Using CSS Grid &amp; object-fit</h1> -->
    <input type="text" placeholder="Search..">
	</div>

</header>

<main>

	<h2>Lorem Ipsum</h2>

	<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo dolorum totam dicta quidem eaque quos neque, dolor numquam itaque placeat! Id quia at officia, accusamus placeat vero sed ea quo voluptates. Earum praesentium saepe maxime, esse veniam aperiam,
		officiis beatae error voluptatem odit provident optio vel eum nemo, facilis numquam fugit laboriosam. Libero veritatis repellendus quo. Facere perferendis blanditiis, voluptates cupiditate veniam repudiandae cumque sit provident nobis, beatae aut aliquam
		dolorem qui porro repellendus totam animi delectus laudantium.</p>

</main>