.menuheader {
	grid-area: header;
	display: grid;
	height: 93px;
width: 100%;
	align-content: center;
	
	grid-template-columns:  1fr 1.5fr 2fr 1fr 2fr;
	/* grid-template-columns: 2fr 2fr 1.75fr 2fr ;	 */

  border-bottom: solid 1px #dcdcdc;
}

.logo{
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* display: none; */
	

}


.logo1{
	display: grid;
	justify-content: center;
	
}


.logo2{
	display: grid;
	align-content: center;
	
}


.catitem{
	display: grid;
	
	
	align-content: center;
}

.searcitem {
	display: grid;
	align-content: center;
}


.searchContainer {
	display: grid;
	grid-template-columns:3rem 4fr 1fr;
	width:95%;
	border: 1px solid #ccc;
	border-radius: 5px;
	overflow: hidden;
	min-width: 300px;
}

.searchContainer:focus-within .searchBox{
  	grid-column:1/4;
}

.searchContainer:focus-within .searchBox::placeholder {
	color:transparent;
} 

.searchIcon {
	padding: 1.2rem;
	grid-row:1;
	grid-column:4;
	z-index:2
}

.searchBox {
	border: 0;
	padding: 1.2rem;
	grid-column:1/4;
	grid-row:1;
	outline:none;
	font-size: 1.6rem;
	font-weight: 100;
}

::-webkit-input-placeholder {
	font-family: OpenSans;
	color: #a3a2a2;
	font-weight: 100;
	font-size: 1.5rem;
}

:-moz-placeholder { /* Firefox 18- */
	font-family: OpenSans;
	color: #a3a2a2;  
	font-weight: 100;
	font-size: 1.5rem;
}

::-moz-placeholder {  /* Firefox 19+ */
	font-family: OpenSans;
	color: #a3a2a2;  
	font-weight: 100;
	font-size: 1.5rem;
}

:-ms-input-placeholder {  
	font-family: OpenSans;
	color: #828282;  
	font-weight: 100;
	font-size: 1.5rem;
}


.signin {
	display: grid;
	justify-content: right;
	align-content: center;
}

.signup {
	display: grid;
	justify-content: center;
	align-content: center;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.signin-btn{
	display: grid;
	
	text-align: center;
	background-color: #ffffff;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	border: 1px;
	border: 1px solid #444;
	font-family: OpenSans;
	color: #828282;  
	font-weight: 100;
	font-size: 1.5rem;
	align-content: center;
	margin-right: 30px;
	
	
}

.signup-btn{
	display: grid;
	
	text-align: center;
	background-color: #f98e08;
	border-radius: 5px;
	width: 100px;
	height: 40px;
	border: 1px;
	border: 1px solid #ffffff;
	color: #ffffff;
	font-family: OpenSans;
	font-weight: 100;
	
	font-size: 1.5rem;
	align-content: center;
}


/* *** */

/* height: 2px;
  border: solid 1px #dcdcdc; */


  .sticky {
	position: fixed;
	top: 0;
	
width: 100%;
	grid-area: header;
	display: grid;
	height: 93px;

	align-content: center;
	/* grid-template-areas: 1fr 1fr; */
	grid-template-columns: 1fr 1fr 3fr 1fr 2fr;	
	
  border-bottom: solid 1px #dcdcdc;
  background-color: #ffffff;

  z-index: 999;
  }

  .notification{
	  display: grid;
	  justify-content: center;
	  align-content: center;
  }

  .wish{
	display: grid;
	justify-content: center;
	align-content: center;
}

.cart{
	display: grid;
	justify-content: center;
	align-content: center;
}
.profile{
	display: grid;
	justify-content: center;
	align-content: center;
}





	
#main_nav1 ul {
	background: white;
	float: left;
	-webkit-transition: .5s;
	transition: .5s;
}

#main_nav1 li {
	float: left;
	position: relative;
	width: 150px;
	list-style: none;
	-webkit-transition: .5s;
	transition: .5s;
}

#main_nav1 > ul > li > a, h1 {
	text-transform: uppercase;
}

#main_nav1 a {
	display: block;
	text-decoration: none;
	padding: 5px 15px;
	color: #000;
}

#main_nav1 ul ul {
	position: absolute;
	left: 0;
	top: 100%;
	visibility: hidden;
	opacity: 0;
}

#main_nav1 ul ul ul {
	left: 100%;
	top: 0;
}

#main_nav1 li:hover, #main_nav li:hover li {
	background: #fff;
}

#main_nav1 li li:hover, #main_nav li li:hover li {
	background: #bbb;
}

#main_nav1 li li li:hover {
	background: #fff;
}

#main_nav1 li:hover > ul {
	visibility: visible;
	opacity: 1;
}

.menuhead{
	display: grid;
	align-items: center;
	color: red;
	vertical-align: middle;
	align-content: center;
}


.cathstyle{
	display: inline-block; 
	font-size: 1.2rem; 
	position: absolute; 
	top:12px; 

	font-family: OpenSans;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #828282;
}

.greyicon{
	color: #828282;

}

.fontclass{
	display: inline-block; 
	font-size: 1rem; 

	font-family: OpenSans;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: left;
	color: #4b5766;
}

#main_nav1{
font-size: 1.3rem; 

	font-family: OpenSans;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;

}