<div class="emptydiv">
  &nbsp;
</div>

<div class="wrapper">

    <div class="about-us">
      <img  src="/assets/images/about-us.jpg" alt="">
      <p> What we do?</p>  
      <p>It presents a new approach to skill identification and competency development with focus on employability. Ours is Corroborative solution that integrates the Students, Industry, Service Providers and Institutions for effective employability of workforce.</p>
      <p>
          How we do?
      </p>
      <p>
          What lies at its core of SkillmaTic platform is a Machine analytics and Artificial Intelligence based Algorithm that will provides all actors on the platform a host of services that culminate in gainful employment.
      </p>

    </div>

    <div class="vision">
      <div class="vision-img">
          <img src="/assets/images/ideas.jpg">
      </div>

      <div class="vision-mission">
         <p>Vision</p>
          <p>
            Caerus SkillmaTic India Pvt Ltd., has developed comprehensive Skill Management plan with a Vision to
          </p>
          <ul class="a browser-default">
            <li>To empower the student community and professionals with Right Skill Management Tools to effectively and objectively manage their career progression</li>
            <li>Reduce the ever widening gap between the talent availability and the Industry requirements by effectively producing requisite skilled professionals</li>
            <li>To provide significant value to all the stakeholders of the SkillmaTic platform</li>
          </ul>


          <p >Mission</p>
          <p>
              Caerus SkillmaTic India Pvt Ltd through its intelligent SkillmaTic platform, provides various tools and services for
          </p>
          <ul class="a browser-default">
              <li>Students/professionals to objectively acquire Industry required skills and competencies</li>
              <li>Skill Providers to design, develop and impart various Training Curriculum to suit the industry trends</li>
              <li>Educational institutes to design and develop various Industry relevant programs outside of the curriculum and develop industry -ready professions</li>
              <li>Collaboration with Industry Subject Matter Experts and Accreditation organizations to effectively impart necessary certified skills programs</li>
          </ul> 

      </div>

    </div>


    <div class="rowseven">
        <div class="rowseven-item1">
        Our Team
      </div>
      <div class="rowseven-item2">
          We do everything with our core values of honesty, hard work & trust. We believe these characteristics should influence everything we do in business & in life. We sincerely enjoy the work we do & our clients get to reap the benefits.
      </div>
     

      <div class="profile">
          <div class="rowseven-profile1">
            <img src="/assets/images/profile-pic.jpg">
            <p class="pro-desig">Mr. CEO</p>
            <p class="pro-desc">Our Vision is to build world class..</p>
          </div>

          <div class="rowseven-profile2">
              <img src="/assets/images/profile-pic.jpg">
              <p class="pro-desig">Mr. CXO</p>
              <p class="pro-desc"> Helping Individuals to ...</p>
          </div>


          <div class="rowseven-profile3">
              <img src="/assets/images/profile-pic.jpg">
              <p class="pro-desig">Mr. CFO</p>
              <p class="pro-desc">Cost may be driving factor but...</p>
          </div>

       </div>
      
      </div>

