
.emptydiv{
	height: 100px;
} 





@media only screen and (min-width: 600px)   {
	.wrapper {
		display: grid;
		grid-gap: 1em; 
		background-color: transparent;
		color: #444;
		grid-gap: 20px;
		grid-template-columns: 1fr;
		grid-template-areas:
		"aboutus"
		"vision"
		"ourteam";
		min-width: 100%;
	}
}



/** about - us **/

.aboutus {
	display: grid;
	grid-area: aboutus;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr;
	grid-gap: 10px;

	max-width: 100%;
	min-height: 300px;

	align-content: center;
	background: #f6f6f6;
}


.about-us::before {
	content:'About Us';
	display: block;
	border: 0px solid red;
	font-size: 2em;
	text-align: center;
	color: var(--pumpkin-orange);
	padding:  0.6em;
}

.about-us::first-line img {
	width: 100%;
	height: auto;
	max-height: 400px;
	background-size: cover;
	-moz-background-size: cover;  
	background-position: center;  
}

.about-us :nth-child(2),
.about-us :nth-child(4)  {
	/* background: red; */
	display: block;
	border: 0px solid red;
	font-size: 2em;
	text-align: center;
	color: var(--pumpkin-orange);
	padding:  0.6em;
	margin: 0em;
	background-color: #f6f6f6;
}

.about-us :nth-child(3),
.about-us p:nth-child(5) 
{
	background: #f6f6f6;
	display: block;
	border: 0px solid red;
	font-size: 1.4em;
	text-align: center;
	color: #404040;
	padding:  0em 2em;
	margin: 0em;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.67;
	letter-spacing: 0.4px;
	width: 100%;
	margin: auto;
}


/** Vision & Mission **/

.vision {
	display: grid;
	grid-area: vision;
	grid-template-columns: 1fr 2fr;

	grid-gap: 10px;
	width: 80%;
	margin: auto;
border: 0px solid yellow;
	 
	  align-content: center;
	 
	  justify-content: center;
	  
	 padding-bottom: 50px;
	
}

.vision >div {
	display: grid;
}


.vision div:nth-child(1) {
	display: grid;
	border: 0px solid blue;
	align-content: center;
	justify-content: center;
}

.vision div:nth-child(2) {
	display: grid;
	
	border: 0px solid red;
	

}


.vision-mission p:nth-child(1), p:nth-child(4) {
	
	display: grid;
	border: 0px solid red;
	font-size: 2em;
	text-align: center;
	color: 1c2550;
	padding:  0.3em;
	margin: 0em;
	height: auto;
}

.mission{
	display: grid;
	border: 0px solid red;
	font-size: 2em;
	text-align: center;
	color: 1c2550;
	padding:  0.3em;
	margin: 0em;
	height: auto;

}

.vision-mission{
	font-size: 1.4em;
	font-family: OpenSans;
	
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 0.4px;
  text-align: left;
  color: #404040;
}

.rowthree{
	display: grid;
	background-size: cover;
	-moz-background-size: cover;  
	background-position: center;  
	width: 100%;
	height: auto;
	overflow: hidden;
}

  
  .rowthree img {
	width: 100%;
	height: auto;
	max-height: 400px;
	background-size: cover;
	-moz-background-size: cover;  
	background-position: center;  
  }



  .rowseven {
	display: grid;
	font-weight: 200;
	font-family: "Open Sans";
	font-size: 2.2rem !important;
background-color: #f6f6f6;
	justify-content: center;
	align-content: center;
	
}



.rowseven-item1{
	display: grid;
	align-content: center;
	text-align: center;
	padding: 40px;

	font-family: "Open Sans";
	font-size: 2.8rem !important;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #1c2550;


}

.rowseven-item2{
	display: grid;
	align-content: center;
	text-align: center;

	font-family: "Open Sans";
	font-size: 1.8rem !important;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #828282;

	width: 80%;
	margin: auto;
	padding: 30px;

}

.profile{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
	width: 80%;
	background-color: #f6f6f6;
	padding: 10px;
	justify-items: center;

}

.profile > div {
	grid-column: 1fr;
	height: auto;
	width: 225px;
	grid-template-rows: 1fr 1fr 1fr;
	text-align: center;

}



.pro-desig {
	font-family: "Open Sans";
	font-size: 1.6rem !important;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #1c2550;

}


.pro-desc {
	font-family: "Open Sans";
	font-size: 1.3rem !important;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	text-align: center;
	color: #828282;

}

