<div class="emptydiv">
  &nbsp;
</div>
<div class="wrapper">

  <div class="aboutus">
      <div class="rowone">
        <div class="rowone-item1">
        About Us
      </div>
      <div class="rowone-item2">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est eum omnis consequuntur, tempora aliquid optio! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep
      </div>
      </div>
     
      <div class="rowthree" >
          <img   src="/assets/images/about-us.jpg" alt="">
        </div>

        <div class="rowfour">
          <div class="rowfour-item1">
            Why are we different?
          </div>
          <div class="rowfour-item2">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est fugiat corrupti natus deleniti alias, magnam vitae reiciendis nostrum molestias nihil repellendus eum omnis consequuntur, tempora aliquid optio! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep</p>
              
          </div>
          <div class="rowfour-item3">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est fugiat corrupti natus deleniti alias, magnam vitae reiciendis nostrum molestias nihil repellendus eum omnis consequuntur, tempora aliquid optio! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep</p>
          </div>
        </div>
   
        <div class="rowfive">
          <div class="rowfive-item1">Our Mission & Vission</div>
          </div>
          <div class="rowsix">
              <div class="rowsix-item1">
                  <img src="/assets/images/ideas.jpg">
              </div>
              <div class="rowsix-item2">
                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est fugiat corrupti natus deleniti alias, magnam vitae reiciendis nostrum molestias nihil repellendus eum omnis consequuntur, tempora aliquid optio! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep
              </p>
              <p>
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est fugiat corrupti natus deleniti alias, magnam vitae reiciendis nostrum molestias nihil repellendus eum omnis consequuntur, tempora aliquid optio! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep
                </p>
              </div>
              
          </div>
          
        
          <div class="rowseven">
              <div class="rowseven-item1">
              Our Team
            </div>
            <div class="rowseven-item2">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est fugiat corrupti natus deleniti alias, magnam vitae reiciendis nostrum molestias nihil repellendus eum omnis consequuntur, tempora aliquid optio! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep
            </div>
           

            <div class="profile">
                <div class="rowseven-profile1">
                  <img src="/assets/images/profile-pic.jpg">
                  <p class="pro-desig">Mr. CEO</p>
                  <p class="pro-desc">Iam Principal engineer 1</p>
                </div>

                <div class="rowseven-profile2">
                    <img src="/assets/images/profile-pic.jpg">
                    <p class="pro-desig">Mr. CXO</p>
                    <p class="pro-desc"> Iam Principal engineer 2</p>
                </div>


                <div class="rowseven-profile3">
                    <img src="/assets/images/profile-pic.jpg">
                    <p class="pro-desig">Mr. CFO</p>
                    <p class="pro-desc">Iam Principal engineer 3</p>
                </div>

             </div>
            
            </div>
      

    </div>

</div>
