
<div class="content">
    <div class="header1 ">
        <video class="video-bg" preload= "true" autoplay loop oncanplay="this.muted=true">
            <source src="/assets/Provider.mp4" type="video/mp4" />
            <source src="/assets/Provider.webm" type="video/webm" />
          </video>
      <div class="video-overlay">
  
        <div class="cap1">
          <h3> SkillmaTic for Course Provider</h3>
        </div>
        <div class="cap2">
          <h4> Before you get started here is a quick video you can watch about the product.</h4>
        </div>
  
        <div class="cap1">
          <img src="/assets/images/play-button.png?v=1" style="cursor: pointer;" (click)="videoDialog()">
        </div>
        <div class="playvideo">
          <div style="cursor: pointer;" (click)="videoDialog()"> Play Full Video</div>
        </div>
      </div>
    </div>
  
  
    <div class="rowfive">
        <div class="rowfive-item1">SkillmaTic platform will provide you an access to a large customer base. It will bring in innovation in teaching methods through access to Industry trends, Industry hiring patterns.  We will be connected to the Industry which will increase your visibility.</div>
        </div>
        <div class="rowsix">
            <div class="rowsix-item1">
                <img src="/assets/images/seekerbg.jpeg">
            </div>
            <div class="rowsix-item2">
              <p class="textstyle">Benefits to Course Providers
                </p>
              <p class="textdesc">
                  Caerus SkillmaTic platform will provide Course providers an access to a large customer base. It will bring in innovation in teaching methods through access to Industry trends, Industry hiring patterns. It will increase the visibility of the Course providers by connecting them to the Industry. 
            </p>
            <p class="textstyle">Other benefits include:</p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;On demand video based teaching.
            </p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Hosting online sessions and uploading offline video based content.
            </p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Hosting course catalogue.
            </p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Online monitoring training progress.
            </p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Publishing post training feedback into social media.
            </p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Launching a training campaign. 
            </p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Access to Industry requirements.
            </p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Endorsement from industries and industry experts.
            </p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Digital badging solutions for training feedback.
            </p>
            <p class="textdesc">
                <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;Digital Marketing solutions, configurable brochuring and advertising.
            </p>

            </div>
            
        </div>
        
      
        <div class="rowfive">
          <div class="rowfive-item1">Unique Features for Provider</div>
        </div>
  
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Best Guide for Job Seekers.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption left-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Best Guide for Job Seekers.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption right-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Best Guide for Job Seekers.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div>
    
        <div class="getstarted">
            <div class="getstartedcaption">
              Get Started and Login as a Provider!
            </div>
            <!-- <div class="getstarteddesc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est fugiat corrupti natus deleniti alias, magnam vitae reiciendis nostrum! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep
            </div> -->
            <div class="getstartedbtn">
               <div class="getstarted-btn" (click)="signupDialog()" style="cursor: pointer;">Get Started</div>
             </div>
         
          </div>
  
  </div>