<div class="section">

</div>
<div class="section">
<div class="row ">
    <div class="center-align headlabel">
        Forgot Your Password?
    </div>
    <div class="center-align headlabel1">
      Enter your registered email address below.
  </div>
  </div>
<br/>
  <div class="row ">
      <div class="center-align">
          
              <form (ngSubmit)="onSubmit()" [formGroup]="recoverForm">


                  <mat-form-field>
                      <mat-select placeholder="Select Category" name="profile" 
                      class="catstyle"
                      formControlName="profile" #profile required>
                        <mat-option *ngFor="let profile of profiles; " [value]="profile">
                          {{ profile }}
                        </mat-option>
                      </mat-select>
                      <mat-error *ngIf="recoverForm.get('profile').hasError('required') && recoverForm.get('profile').touched">
                        Category is
                      <strong>Required</strong>
                    </mat-error>
                </mat-form-field>
                    
                   

          
                  <div class="resetrow">
            <mat-form-field>
              <input matInput placeholder="Email ID" type="email" id="email" 
              formControlName="email" required name="email" class="browser-default emailsize">
            </mat-form-field>
        </div>

            <!-- <div class="sign-up-error" *ngIf="!email.valid && email.touched">Wrong email format</div> -->

           

              <div class="resetrow">
                <button class="reset-btn" 
                    type="submit" name="action" [disabled]=!recoverForm.valid>Reset
                </button>
              </div>
        </form>

      </div>
    </div>
</div>

<div class="section">
    <div class="row ">
        <div class="center-align">
            <p *ngIf="(emailsent)" class="msgformat"> {{this.responsemsg}}</p>
        </div>
      </div>
</div>

<!-- <ng-container *ngIf="(isLoggedIn | async)"  > -->

<!-- <a href="#" class="btn1" (click)='this.recoverauth(password)'>Forgot Password?</a> -->