
<div class="content">

    <div class="header1">
        <!-- Video from coverr.co -->
        <video class="video-bg" preload= "true" autoplay loop oncanplay="this.muted=true">
          <source src="/assets/Experts.mp4" type="video/mp4" />
          <source src="/assets/Experts.webm" type="video/webm" />
        </video>
        
        <div class="video-overlay">
  
            <div class="cap1">
              <h3> SkillmaTic for INDUSTRY EXPERTS</h3>
            </div>
            <div class="cap2">
              <h4> Before you get started here is a quick video you can watch about the product.</h4>
            </div>
      
            <div class="cap1">
              <img src="/assets/images/play-button.png?v=1" style="cursor: pointer;" (click)="videoDialog()">
            </div>
            <div class="playvideo">
              <div style="cursor: pointer;" (click)="videoDialog()"> Play Full Video</div>
            </div>
          </div>
  
  
      </div>

    <!-- <div class="header1 ">
  
      <div class="video-overlay">
  
        <div class="cap1">
          <h3> Advantages of Being an Expert</h3>
        </div>
        <div class="cap2">
          <h4> Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores eum provident, deleniti a quidem optio quos iusto
            ad nostrum corrupti aliquid, officiis ipsum neque incidunt expedita! Vitae unde ut molestiae.</h4>
        </div>
  
        <div class="cap1">
          <img src="/assets/images/play-button.png?v=1" style="cursor: pointer;" (click)="videoDialog()">
        </div>
        <div class="playvideo">
          <div style="cursor: pointer;" (click)="videoDialog()"> Play Full Video</div>
        </div>
      </div>
    </div>
   -->
  
    <div class="rowfive">
        <div class="rowfive-item1">Our platform will provide you with a community connect by increasing your visibility in the Skill development eco system and international forums. You also benefit with an increased exposure to Industry trends and you can modify your course content and teaching methods based on the same. </div>
        </div>
        <div class="rowsix">
            <div class="rowsix-item1">
                <img src="/assets/images/seekerbg.jpeg">
            </div>
            <div class="rowsix-item2">
              <p class="textstyle">INDUSTRY EXPERTS</p>
              <p class="textdesc">
                  <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;SkillmaTic platform will provide the Industry experts with a community connect by increasing their visibility in the Skill development eco system and international forums with the help of digital marketing solutions.
              </p>
              <p class="textdesc">
                  <i class="fa fa-circle" style="font-size: 12px;"></i>&nbsp;They will also benefit with an increased exposure to Industry trends and can modify their course content and teaching methods based on the same. Through remote proctoring and online endorsements, SkillmaTic platform will enhance their revenues through an exposure to a large user base.
              </p>
            </div>
            
        </div>
        
      
        <div class="rowfive">
          <div class="rowfive-item1">Unique Features for Experts</div>
        </div>
  
        <div class="slider">
          <ul class="slides">
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Advantages of being an Expert.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption left-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Advantages of being an Expert.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption right-align">
                <h3>Course Catalogue !</h3>
                <h5 class="light grey-text text-lighten-3">Advantages of being an Expert.</h5>
              </div>
            </li>
            <li>
              <img src="/assets/images/dummy.png"> <!-- random image -->
              <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
              </div>
            </li>
          </ul>
        </div>
    
        <div class="getstarted">
            <div class="getstartedcaption">
              Get Started and Login as a Expert!
            </div>
            <!-- <div class="getstarteddesc">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque ipsa suscipit consectetur sunt sed, animi praesentium est fugiat corrupti natus deleniti alias, magnam vitae reiciendis nostrum! Blanditiis fugit quasi eos suscipit debitis enim aut itaque possimus quae tempore, distinctio, voluptatibus quod ullam excep
            </div> -->
            <div class="getstartedbtn">
               <div class="getstarted-btn" (click)="signupDialog()" style="cursor: pointer;">Get Started</div>
             </div>
         
          </div>
  
  </div>