/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
:root {
    --yellow: #ffc600;
    --black: #272727;

    
      /* Base font size */
      font-size: 10px;
    
      /* Full grid area variable */
      --fullGrid: 1 / 1 / -1 / -1;
    
  }
  
  html {
    box-sizing: border-box;
    /* A system font stack so things load nice and quick! */
    font-family: "Open Sans";
    /* font-weight: 900; */
    /* font-size: 14px; */
    /* color: var(--black);  */
    
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0px;
    background: white;
    letter-spacing: -1px;
  } 
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 0 5px 0;
  }

  button:focus {
    background-color: transparent;
  }


