<div class="footer">
    <div class="footer-item1">
      <div class="footer1-subitem">
        <a href="" [routerLink]="['/aboutus']" class="outlinks">  About Us </a>
        </div>
        <div class="footer1-subitem" >
            <a href="" [routerLink]="['/terms']" class="outlinks">  Terms Of Service </a>  
        </div>
      <div class="footer1-subitem" >
            <a href="" [routerLink]="['/privacy']" class="outlinks">  Privacy Policy </a>  
      </div>
      <div class="footer1-subitem" >
            <a href="" [routerLink]="['/business']" class="outlinks">  Business Terms </a>  
        </div>
    
    </div>
    <div class="footer-item2">
        <div class="footer1-subitem" >
                <a href="" [routerLink]="['/sitemap']" class="outlinks"> Sitemap </a>
            </div>
        <div class="footer1-subitem" >
                <a href="" [routerLink]="['/blog']" class="outlinks">  Blog </a>
            </div>
        <div class="footer1-subitem" >
                <a href="" [routerLink]="['/faq']" class="outlinks">  FAQ </a>
            </div>
        <div class="footer1-subitem" >
                <a href="" [routerLink]="['/support']" class="outlinks">  Support </a>
            
            </div>
    </div>
    <div class="footer-item3">
        <div class="footer3-subitem">
          <img src="/assets/images/facebook.png">
        </div>
        <div class="footer3-subitem">
            <img src="/assets/images/linkedin.png">
        </div>
        <div class="footer3-subitem">
            <img src="/assets/images/google-plus.png">
        </div>
        <div class="footer3-subitem">
            <img src="/assets/images/twitter.png">
        </div>
        <div class="footer3-subitem5">Copyright 2017 Skillmatic. All Rights Reserved</div>
        
    </div>
    <div class="footer-item4">
        <div class="footer4-subitem1"><i class="fa fa-map-marker fa-1x" ></i> &nbsp;&nbsp;Lorven Workspace #7, 4th Floor, 7th Block, 80ft Road, Koramangala, Bangalore</div>
        <div class="footer4-subitem1"><i class="fa fa-phone fa-1x" ></i>&nbsp;&nbsp;India (+91) 800 000 1234</div>
        <div class="footer4-subitem1"><i class="fa fa-envelope fa-1x" ></i>&nbsp;&nbsp;info@caerusskillmatic.com</div>
    </div>
    
      </div>